@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    min-width: 320px;
    max-width: 1600px;
    font-family: Arial, Helvetica, sans-serif;
}

span{
    color: white;
    font-size: 30px;
    font-weight: 300;
}

.header, .footer{
    width: 100%;
    min-width: 320px;
    max-width: 1600px;
    background-color: green;
    text-align: center;

    padding-top: 20px;
    padding-right: auto;
    padding-bottom: 20px;
    padding-left: auto;
}

.limita-largura{
    width: 75%;
    min-width: 320px;
    max-width: 1600px;
    margin: 0 auto;
    text-align: left;
    margin-top: 50px;
}

h1, h2, p, .img-apresentacao{
    margin-bottom: 20px;
}

.img-apresentacao{
    width: 100%;
}

.galeria{
    min-width: 320px;
    max-width: 1600px;
    display: flex;
    margin-bottom: 50px;
}

.galeria img{
    width: calc((100% / 3) - 3px);
    margin: 0 1.5px;
}